<header class="header">
  <div class="header__cont">
    <div class="header__img-cont">
      <img
        class="header__logo"
        src="<%= require('/src/assets/img/shared/logo.svg') %> "
        alt="Space tourism logo"
      />
    </div>
    
    <div class="nav-mobile__btn-cont">
      <a
        aria-controls="primary-navigation"
        aria-expanded="false"
        class="nav-mobile__btn"
      >
        <span class="visually-hidden">Menu</span>
      </a>
    </div>
    <nav data-visible="false" class="header__nav">
      <div class="header__nav-cont">

        <ol id="primary-navigation" class="header__nav-list">
